<%- include("partials/header", {title: "about"}) %>

  <section style="padding-bottom: 4rem;">
    <div class="About-container" style="margin-top: 93px; padding-bottom: 23px;">
      <h2>Who We Are</h2>
      <div class="line-in-about"></div>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga officia magnam doloremque laborum, esse ex error
        modi veniam natus deserunt placeat quidem sit rerum aspernatur eos dolore beatae adipisci numquam.<br>Lorem,
        ipsum dolor sit amet consectetur adipisicing elit. Eos possimus voluptatem cum. Sint nostrum repellat quaerat
        fugit recusandae atque velit illo ipsum saepe similique assumenda fuga iste, exercitationem adipisci maxime!
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores vitae, eius voluptatibus hic eligendi
        praesentium explicabo consectetur nostrum sequi maiores deleniti ut, omnis expedita quis corrupti ad soluta
        quidem ullam.<br>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate molestiae dolorem, praesentium eveniet at temporibus quam? Eos laboriosam doloremque facilis sequi eveniet eligendi sapiente voluptatum et iste magni, soluta dicta!Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium velit nobis optio, eum animi eos dolores aliquam esse quam sed accusantium magnam explicabo sapiente, earum voluptatibus aliquid possimus non fugiat.</p>
    </div>
    <div style="height:10rem; margin-top:6vh; text-align:center; filter: contrast(0); margin: 6vh;"><img src="/images/lotus.png" width="157px" alt="lotus-img"><h6 style="margin-bottom: 0;">Thanks!!</h6></div>
  </section>
  
  <%- include("partials/footer") %>