<%-include("partials/header", {title: "All products"}) %>
<section class="pro-div">
  <div class="pro-div1A">
    <img src="/images/banner-2082331_960_720.webp" width="100%" />
    <h1 class="pro-div1Ah1">Say It With Flowers</h1>
  </div>
  <div class="container">
    <div class="row gy-4"><%-include("partials/productItems") %></div>
  </div>
</section>

<%-(include("partials/footer")) %>;
